@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@font-face {
  font-family: 'Lifehack Medium';
  src: url('../../fonts/Lifehack-Medium/') format('embedded-opentype'),  
      url('../../fonts/Lifehack-Medium/Lifehack-Medium.otf')  format('opentype'),
      url('../../fonts/Lifehack-Medium/Lifehack-Medium.woff') format('woff'), 
      url('../../fonts/Lifehack-Medium/Lifehack-Medium.ttf')  format('truetype'), 
      url('../../fonts/Lifehack-Medium/Lifehack-Medium.svg#Lifehack-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gagalin Regular';
  src: url('../../fonts/Gagalin-Regular/') format('embedded-opentype'),  
      url('../../fonts/Gagalin-Regular/Gagalin-Regular.otf')  format('opentype'),
      url('../../fonts/Gagalin-Regular/Gagalin-Regular.woff') format('woff'),
      url('../../fonts/Gagalin-Regular/Gagalin-Regular.ttf')  format('truetype'), 
      url('../../fonts/Gagalin-Regular/Gagalin-Regular.svg#Gagalin-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
