// colors

$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

// breakpoints

$tablets:768px;
$phones:480px;

// normalize

@import "../_misc/normalize.scss";

// media

@import "../_misc/media.scss";

// setups

@import "../_misc/mixins.scss";
@import "../_misc/fonts.scss";
@import "../_misc/layout.scss";

// blocks

@import "../blocks/hero.scss";
@import "../blocks/logo.scss";
@import "../blocks/header.scss";
@import "../blocks/nav.scss";
@import "../blocks/btn.scss";
@import "../blocks/hamb-menu.scss";
@import "../blocks/title.scss";
@import "../blocks/to-next-section.scss";
@import "../blocks/best.scss";
@import "../blocks/slider.scss";
@import "../blocks/team.scss";
@import "../blocks/menu.scss";
@import "../blocks/reviews.scss";
@import "../blocks/video.scss";
@import "../blocks/form.scss";
@import "../blocks/map.scss";
@import "../blocks/footer.scss";
@import "../blocks/contacts.scss";
@import "../blocks/socials.scss";
@import "../blocks/fixed-menu.scss";
@import "../blocks/fullscreen-menu.scss";
@import "../blocks/reviews-overlay.scss";
@import "../blocks/form-overlay.scss";
