// colors

$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

// normalize

@import "../_misc/normalize.scss";

// setups

@import "../_misc/mixins.scss";
@import "../_misc/fonts.scss";
@import "../_misc/layout.scss";


// blocks

@import "../blocks/hero.scss";
@import "../blocks/header.scss";
@import "../blocks/nav.scss";
@import "../blocks/btn.scss";
@import "../blocks/to-next-section.scss";
@import "../blocks/title.scss";
@import "../blocks/best.scss";
@import "../blocks/reviews.scss";
@import "../blocks/form.scss";
@import "../blocks/map.scss";
@import "../blocks/footer.scss";
@import "../blocks/socials.scss";
@import "../blocks/contacts.scss";
@import "../blocks/fixed-menu.scss";

// media

@media (max-width: 1200px) {
  html {font-size: 15px;}
}

@media (max-width: 992px) {
  html {font-size: 14px;}
  .container {max-width: 700px;}
  .hero__burger-img {max-width: 100%; margin-top: -20px;}
}

@media (max-width: 768px) {
  html {font-size: 13px;}
  .container {max-width: 450px;}
  .nav__list {flex-wrap: wrap;}
  .hero__content {flex-direction: column-reverse;}
  .hero__desc {font-size: 3.3rem;}
  .reviews__item {width: calc(100% / 2);}
  .form__input-elem {padding: 5px 0rem;}
}

@media (max-width: 480px) {
  html {font-size: 12px;}
  .best__list {flex-direction: column; align-items: center;}
  .reviews__item {width: 100%;}
  .form {flex-direction: column;}
  .social__list {flex-wrap: wrap;}
}
