/* button */

.btn {
  border-radius: rem(5px);
  padding: rem(10px) rem(15px);
  background: $red;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: rem(13px);
  display: flex;
  justify-content: center;
  align-items: center;

  &--reset {
    background: transparent;
    text-transform: none;
    font-size: rem(16px);
    margin-left: 5%;
    border: 1px solid #fff;
  }

  &:hover {
    color: #000;
    opacity: 0.9;
    transition: 1s;
  }

  &--overlay {
    font-weight: bold;

    &:hover {
      background:none;
      color: #000;
    }
  }
}