/* contacts-block */

.contacts__block {
  display: flex;
  flex-direction: column;

  @include phones {
    align-items: center;
  }
}

.contacts__location {
  font-style: normal;
  color: #fff;
  margin-bottom: rem(10px);
}

.phone {
  font-size: rem(17px);
  display: inline-flex;
  color: $red;
  font-weight: bold;
  text-decoration: none;
  align-items: center;

  &-icon {
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(7px);
  }

  &:hover {
    text-decoration: underline;
    color: rgb(255, 0, 0);
  }
}
