/* fixed-menu */

.fixed-menu {
  position: fixed;
  top: rem(150px);
  right: rem(20px);
  @include tablets {
    display: none;
  }
}

.fixed-menu__item {
  display: flex;
  flex-direction: column;
  padding: rem(10px);

  &.active {
    .fixed-menu__link:after {
      opacity: 1;
    }
  }
}

.fixed-menu__link {
  display: block;
  width: rem(8px);
  height: rem(8px);
  border-radius: 50%;
  background: #fff;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    position: absolute;
    border: rem(1px) solid #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &:hover {
    opacity: 0.7;
    transition: 1s;
  }
}
