/* footer */

.contacts {
  position: relative;
}

.footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  background: #191b1c;
  bottom: 0;
  padding: 0 3%;
  height: 9.2%;

  @include phones {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12%;
  }

  &__side {
    display: flex;
    align-items: center;

    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-end;
    }
  }
}
