/* navigation */

.nav {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: rem(10px);
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__item:last-child &__link:after {
    display: none;
  }
}

.nav__link {
  color: #fff;
  text-decoration: none;
  font-size: rem(12px);
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &:after {
    content: '';
    width: rem(4px);
    height: rem(4px);
    display: block;
    border-radius: 50%;
    background-color: #fff;
    margin-left: rem(7px);
  }

  &:hover {
    text-decoration: underline;
    color: rgb(223, 210, 210);
    transition: 1s;
  }
}
