/* reviews-section */

.reviews {
  background: #000;

  &__list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
}

.reviews__item {
  width: 25%;
  height: 50%;
  filter: grayscale(100%);
  background: center center / cover no-repeat;
  position: relative;

  @include tablets {
    width: 50%;
    height: 25%;
  }

  &:hover {
    .reviews__hover-block {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.reviews__hover-block {
  padding: 10%;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(#000, .5);
  opacity: 0;
  transform: scale(.8);
  transition: .5s;

  @include tablets {
    padding: 6%;
  }
}

.reviews__title {
  margin-bottom: rem(16px);
  font-family: 'Gagalin Regular';
  font-size: rem(19px);
}

.reviews__text {
  line-height: 1.5;
  font-size: rem(15px);

  @include phones {
    display: none;
  }
}
