/* slider-section */

.slider {
  background-image: linear-gradient($yellow, #f08c34, $yellow);
}

.products__slider {
  position: relative;
  overflow: hidden;

  &-arrow--direction--prev {
    transform: rotate(90deg);
    position: absolute;
    left: rem(-7px);
    bottom: rem(300px);
    z-index: 1;
  }

  &-arrow--direction--next {
    transform: rotate(270deg);
    position: absolute;
    right: rem(-5px);
    bottom: rem(300px);
    z-index: 1;
  }
}

.products__list {
  display: flex;
  position: relative;
}

.products__item {
  display: flex;
  min-width: 100%;

  @include tablets {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.products__pictures,
.products__desc {
  width: 50%;
  padding: rem(21px);

  @include tablets {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.products__pictures {
  position: relative;
  display: flex;
  flex-direction: column;

  &-structure {
    order: -2;
    position: relative;

    @include tablets {
      position: absolute;
    }

    &-link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: rem(100px);
      height: rem(100px);
      background: #f08c34;
      color: #fff;
      text-decoration: none;
      font-family: 'Gagalin Regular';
      border-radius: rem(5px);

      &:hover {
        color: #000;
        transition: 0.5s;

        .products__pictures-structure-list {
          left: 100%;
          opacity: 1;
        }
      }
    }

    &-list {
      z-index: 100;
      position: absolute;
      color: #000;
      background:$red;
      padding: rem(10px);
      width: rem(250px);
      left: -9999px;
      top: 0%;
      opacity: 0;
      transition: opacity 1s;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
    &-name {
      width: rem(125px);
    }
  }

  &-main {
    padding: rem(15px);
    width: 100%;

    &-img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &-kkal {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Gagalin Regular';
    color: #fff;
    user-select: none;

    @include tablets {
      order: -1;
      align-items: flex-end;
    }

    &-content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &-number {
        position: absolute;
        font-size: rem(19px);
        top: rem(25px);
      }
    }
  }
}

.products__desc {
  display: flex;
  flex-direction: column;

  &-text {
    color: #fff;
    padding-right: rem(17px);

    @include tablets {
      padding-right: 0;
    }
  }

  &-order {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: 'Gagalin Regular';
    color: $red;
    font-size: rem(30px);
    margin-right: rem(15px);

    &-cost {
      line-height: 1;
      font-size: rem(65px);
    }

    &-currency {
      margin-right: rem(25px);
    }
  }
}

.burger-icon {
  width: rem(46px);
  height: rem(45px);
  fill: #fff;
}

.sauce-icon,
.buns-icon,
.salad-icon,
.cucumber-icon,
.cheese-icon,
.beef-icon {
  width: rem(40px);
  height: rem(40px);
  fill: #000;
}

.kkal-icon {
  width: rem(60px);
  height: rem(60px);
  fill: #fff;
}