/* socials-block */

.social__list {
  display: flex;
  flex-wrap: wrap;
}

.social__item {
  margin: rem(8px);
}

.social__link {
  display: flex;
}

.vk-icon, .fb-icon, .inst-icon, .twitter-icon {
  max-width: rem(26px);
  max-height: rem(22px);
  fill: #b9b7b7;

  &:hover {
    transition: 1s;
    fill: #fff;
  }
}
