.best {
  background: url('../../img/bg/best-bg.png') center center / cover no-repeat;

  &__list {
    display: flex;
  }

  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__desc {
    font-size: 15px;
    text-align: center;
  }

  &__title {
    font-family: 'Lifehack Medium';
    font-size: 30px;
    margin-bottom: 10px;
  }
}
