/* best-section */

.best {
  background: url('../../img/bg/best-bg.jpg') center center / cover no-repeat;

  &__list {
    display: flex;

    @include phones {
      flex-direction: column;
    }
  }

  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 rem(10px);
    margin-bottom: rem(30px);

    @include tablets {
      padding: 0;
    }

    @include phones {
      flex-direction: initial;
      padding: 0 rem(10px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    padding: 4%;
  }

  &__desc {
    font-size: rem(15px);
    text-align: center;

    @include phones {
      text-align: left;
    }
  }

  &__title {
    font-family: 'Lifehack Medium';
    font-size: rem(30px);
    margin-bottom: rem(10px);
  }
}

.meat-icon {
  width: rem(100px);
  height: rem(100px);
  fill: #E35028;
}

.hand-icon {
  width: rem(100px);
  height: rem(100px);
  fill: #F9B43B;
}

.natural-icon {
  width: rem(100px);
  height: rem(100px);
  fill: #8BC03F;
}

