.btn {
  border-radius: 5px;
  padding: 0.625rem 0.9375rem;
  background: $red;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8125rem;

  &--reset {
    background: transparent;
    text-transform: none;
    font-size: 1rem;
  }
}