.contacts__location {
  font-style: normal;
}

.phone {
  font-size: 0.9375rem;
  display: flex;
  color: $red;
  font-weight: bold;
  text-decoration: none;

  &-icon {
    width: 11px;
    height: 11px;
    fill:#E45028;
  }

  // &:before {
  //   content: '';
  //   display: block;
  //   width: 20px;
  //   height: 20px;
  //   background-image: url('../../img/icons/phone.svg');
  //   background-repeat: no-repeat;
  //   background-position: center center;
  //   margin-right: 5px;
  // }
}
