.contacts__block {
  display: flex;
  flex-direction: column;

  @include phones {
    align-items: center;
  }
}

.contacts__location {
  font-style: normal;
}

.phone {
  font-size: rem(17px);
  display: flex;
  color: $red;
  font-weight: bold;
  text-decoration: none;
  margin-left: rem(5px);
  align-items: center;

  &-icon {
    width: rem(12px);
    height: rem(12px);
  }
}
