.footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  min-width: 200px;
  background: transparent;
  bottom: 0;
  display: flex;

  &__side {
    display: flex;

    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-end;
    }
  }
}