.footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  background: rgba($black, .7);
  bottom: 0;
  display: flex;
  padding: 0 3%;

  @include phones {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__side {
    display: flex;

    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-end;
    }
  }
}
