.order {
  background: #000;
}

.form {
  color: #fff;
  display: flex;
}

.form__row {
  display: flex;
  margin-bottom: 11px;
}

.form__block {
  flex: 1;
  margin-right: 20px;

  .form__right &:last-child {
    margin-right: 0;
  }
}

.form__input-elem {
  width: 100%;
  padding: 9px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
}

.form__input-elem:focus {
  outline: none;
  border-color: orange;
}

.form__input-elem--textarea {
  resize: none;
}

.form__buttons-payemen,
.form__to-call {
  display: flex;
  user-select: none;
}

.form__radio {
  display: inline-flex;
  margin-bottom: 18px;
  margin-right: 20px;
}

.form__radio-real {
  display: none;

  &:checked ~ .form__radio-visible:after {
    opacity: 1;
  }

  &:checked ~ .form__radio-text {
    color: #cb2376;
  }
}

.form__radio-visible {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
  background-image: linear-gradient(to top, #ededed, #ffffff);
  position: relative;
  margin-right: 10px;

  &:after{
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #cb2376;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}

.form__radio-visible--square {
  width: 20px;
  height: 20px;
  border-radius: 0%;
  border: 1px solid #c9c9c9;
  background-image: linear-gradient(to top, #ededed, #ffffff);
  position: relative;
  margin-right: 10px;

  // &:after{
  //   content: '';
  //   display: block;
  //   width: 8px;
  //   height: 8px;
  //   background: #cb2376;
  //   position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  //   opacity: 0;
  // }
}
