.order {
  background: #000;
}

.form {
  color: #fff;
  display: flex;

  &__row {
    display: flex;
    margin-bottom: 0.685rem;
  }

  &__block {
    flex: 1;
    margin-right: 1.25rem;
  }

  .form__right &__block:last-child {
    margin-right: 0;
  }
}

.form__input-elem {
  width: 100%;
  padding: 9px 1.25rem;
  border: 0.125rem solid transparent;
  border-radius: 5px;

  &:focus {
    outline: none;
    border-color: orange;
  }

  &--textarea {
    resize: none;
  }
}

.form__buttons-payement,
.form__to-call {
  user-select: none;
}

.form__radio {
  display: inline-flex;
  margin-bottom: 1.125rem;
  margin-right: 1.25rem;
  vertical-align: sub;

  &-real {
    display: none;
  }

  &-real:checked ~ .form__radio-visible:after {
    opacity: 1;
  }

  &-real:checked ~ .form__radio-text {
    color: #cb2376;
  }
}

.form__radio-visible {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
  background-image: linear-gradient(to top, #ededed, #ffffff);
  position: relative;
  margin: auto;
  margin-right: 0.625rem;

  &:after{
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #cb2376;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &--square {
    border-radius: 0%;
  }
}
