/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: rem(12px);

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__menu {
    margin-right: rem(9px);
    @include tablets {
      display: none;
    }
  }

  &__links {
    display: flex;
    align-items: center;
  }
}
