.hero {
  background: url('../../img/bg/hero-bg.jpg') center center / cover no-repeat;
  position: relative;

  &__container {
    display: flex;
    flex: 1;
  }

  &__desc {
    font-size: 30px;
    color: #fff;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__container {
    flex: 0.75;
  }
}
