.hero {
  background: url('../../img/bg/hero-bg.jpg') center center / cover no-repeat;
  position: relative;

  &__container {
    display: flex;
    flex: 0.75;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__picture {
    margin-right: 0.625rem;
  }

  &__desc {
    font-family: 'Lifehack Medium';
    font-size: 4.375rem;
    color: #fff;
  }
}
