.nav {
  margin-right: 15px;

  &__list {
    display: flex;
  }

  &__item:last-child &__link:after {
    display: none;
  }
}

.nav__link {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &:after {
    content: '';
    width: 4px;
    height: 4px;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 10px;
  }
}
