.social__list {
  display: flex;
}

.social__item {
  margin: 0.5rem;
}

.social__link {
  display: flex;
  background: #000;
}

// .social__link:after {
//   background: #000;
//   content: '';
//   display: block;
//   width: 26px;
//   height: 22px;
//   background-image: url(../../img/icons/vk.svg);
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: center center;
// }

.vk-icon, .fb-icon, .inst-icon, .twitter-icon {
  width: 26px;
  height: 22px;
  fill: #ffffff;
}
