.title {
  color: $yellow;
  font-size: 75px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Gagalin Regular';

  &--color-black {
    color: black;
  }

  &--color-white {
    color: white;
  }
}