.title {
  color: $yellow;
  font-size: 4.6875rem;
  margin-bottom: 1.25rem;
  text-align: center;
  font-family: 'Gagalin Regular';

  &--color-black {
    color: black;
  }

  &--color-white {
    color: white;
  }
}