.to-next-section {
  height: 0;
  width: 0;
  padding: 0;
  position: absolute;
  top: 95%;
  left: 50%;

  &-arrow:after {
    content: '';
    width: 29px;
    height: 15px;
    background-image: url(../../img/icons/arrow-scroll.svg);
    background-repeat: no-repeat;
    position: absolute;
  }
}
