/* arrow-scroll */

.to-next-section {
  height: 0;
  width: 0;
  padding: 0;
  position: absolute;
  top: 95%;
  left: 50%;

  &:hover {
    top: 94.5%;
    transition: 0.5s;
  }
}

.arrow-scroll-icon {
  width: rem(29px);
  height: rem(15px);
  fill: #ffffff;

  &:hover {
    fill: rgb(223, 210, 210);
    transition: 0.5s;
  }
}
