.features .container {
  display: flex;
}

.features__main__title {
  margin-top: 14px;
  margin-bottom: 62px;
}

.table__list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 18px;
  line-height: 29.5px;
}

.table-item {
  margin-left: 20px;
  margin-right: 38px;
  max-width: 210px;
}

.table__img__background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 72px;
  background: #2b2b40;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.table-icon {
  height: 32px;
  width: 32px;
}

.table-icon--flower {
  width: 27px;
  height: 31px;
}

.table-icon--paint {
  width: 28px;
  height: 29px;
}

.table-item h3 {
  margin-top: 6px;
  font-weight: bold;
  font-size: 14px;
  line-height: 4.1;
  letter-spacing: 2.5px;
  text-align: center;
  color: #262424;
}

.table-item p {
  margin: 0;
  margin-bottom: 6px;
  color: #262424;
}

.transfer__list {
  padding-inline-start: 23px;
}

.table-transfer {
  text-align: left;
  list-style-type: disc;
  line-height: 1.85;
  color: #b03664;
}

.table-transfer span {
  margin-left: 17px;
  color: #262424;
}