.header {
  background: #2b2b40;
  min-height: 79px;

}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__side {
  flex: 1;
  display: flex;
  align-items: center;
}

.header__side--left {
  display: flex;
  justify-content: flex-start;
}

.header__side--right {
  display: flex;
  
  justify-content: flex-end;
}
