.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome__logo {
  margin-bottom: 20px;
}

.welcome__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: rotate .9s 0.4s;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: scale(.1) rotate(30deg);
  }
  20% {
    transform: rotate(-10deg);
    opacity: 1;
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
}
