
@font-face {
  font-family: 'Gagalin-Regular';
  src: url('Gagalin-Regular.eot?#iefix') format('embedded-opentype'),  url('Gagalin-Regular.otf')  format('opentype'),
	    url('Gagalin-Regular.woff') format('woff'), url('Gagalin-Regular.ttf')  format('truetype'), url('Gagalin-Regular.svg#Gagalin-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
