
@font-face {
  font-family: 'Lifehack-Medium';
  src: url('Lifehack-Medium.eot?#iefix') format('embedded-opentype'),  url('Lifehack-Medium.otf')  format('opentype'),
	     url('Lifehack-Medium.woff') format('woff'), url('Lifehack-Medium.ttf')  format('truetype'), url('Lifehack-Medium.svg#Lifehack-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
