html {
  font-size: 16px;
  // @include tablets {
  //   font-size: 14px;
  // }
  // @include phones {
  //   font-size: 13px;
  // }
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #2f3234;
}

.section {
  height: 100vh;
  min-height: 650px;
}

.container {
  margin: 0 auto;
  width: auto;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &--without-align {
    justify-content: initial;
  }
}

.wrapper {
  position: relative;
  min-width: 0;
  min-height: 100%;
  overflow: hidden;
}

//tag styles reset

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-osx-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
